<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <title>Admin Dashboard</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <!--  Bootstrap icons-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <!--  Custom CSS-->
  <link href="../../static/css/admin_dashboard.css" rel="stylesheet"/>
  <link th:href="@{/css/admin_dashboard.css}" rel="stylesheet"/>
</head>
<body>

<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" th:fragment="navbar">
        <div class="container-fluid">
            <!--    offcanvas trigger-->
            <button  class="navbar-toggler me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                <span class="navbar-toggler-icon" data-bs-target="#offcanvasExample"></span>
            </button>


            <a class="heading navbar-brand px-3 fw-bold me-auto" href="#" th:href="@{/admin/dashboard}">Meeting Planner</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <!--Remember to add notifications-->
                <ul class="d-flex ms-auto navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="notificationDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-bell-fill"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="notificationDropdown">
                            <li><a class="dropdown-item">Notification 1</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item">Notification 2</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="navbar-nav me-4 mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span sec:authentication="principal.fullName" class="me-2"></span><i class="bi bi-person-fill ml-2"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
                            <li><a class="dropdown-item" th:href="@{/admin/profile}">
                                <span><i class="bi bi-person-fill"></i></span> My Profile</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <form th:action="@{/logout}" method="post" class="d-flex">
                               <input class="dropdown-item ms-0" type="submit" value="Sign Out"/>
                            </form>

                        </ul>
                    </li>
                </ul>

            </div>

        </div>
    </nav>
<!--Navbar-->

<!--Offcanvas-->
<div class="offcanvas offcanvas-start sidebar-nav bg-dark text-white" th:fragment="sidebar"
         tabindex="-1"
         id="offcanvasExample"
         aria-labelledby="offcanvasExampleLabel"
         data-bs-backdrop="true">

        <div class="offcanvas-body p-0 mt-3">
            <nav class="navbar-dark">
                <ul class="navbar-nav">
                    <li>
                        <div class="category-title small text-uppercase fw-bold px-4">
                            Dashboard
                        </div>
                    </li>
                    <li>
                        <a href="#" th:href="@{/admin/dashboard}" class="nav-link px-4 active">
                            <span><span><i class="bi bi-house-door-fill mr-1"></i></span> Home</span>
                        </a>
                    </li>


                    <li class="my-4">
                    </li>


                    <li>
                        <div class="category-title small text-uppercase fw-bold px-4">
                            Meetings Management
                        </div>
                    </li>

                    <li>
                        <a class="nav-link px-4 sidebar-link" data-bs-toggle="collapse" href="#meetingsdropdown" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <span class="me-2"><i class="bi bi-calendar-event-fill"></i></span>Meetings
                            <span class="right-icon ms-auto"><i class="bi bi-chevron-down"></i></span>
                        </a>

                        <div class="collapse" id="meetingsdropdown">
                            <div>
                                <ul class="navbar-nav ps-4">
                                    <li>
                                        <a href="#" th:href="@{/admin/meetings}" class="nav-link px-4">
                                            <span class="me-2"><i class="bi bi-calendar3"></i></span>Manage Meetings
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" th:href="@{/admin/create_meeting}" class="nav-link px-4">
                                            <span class="me-2"><i class="bi bi-calendar-plus"></i></span>Create Meeting
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>

                    </li>


                    <li class="my-4">
                    </li>

                    <li>
                        <div class="category-title small text-uppercase fw-bold px-4">
                            User Management
                        </div>
                    </li>

                    <li>
                        <a class="nav-link px-4 sidebar-link" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <span class="me-2"><i class="bi bi-people-fill"></i></span>Users
                            <span class="right-icon ms-auto"><i class="bi bi-chevron-down"></i></span>
                        </a>

                        <div class="collapse" id="collapseExample">
                            <div>
                                <ul class="navbar-nav ps-4">
                                    <li>
                                        <a href="#" th:href="@{/admin/users}" class="nav-link px-4">
                                            <span class="me-2"><i class="bi bi-people"></i></span>View Users
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" th:href="@{/admin/create_user}" class="nav-link px-4">
                                            <span class="me-2"><i class="bi bi-person-plus"></i></span>Create User
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>

                    </li>


                    <li class="my-4">
                    </li>

                    <li>
                        <div class="category-title small text-uppercase fw-bold px-4">
                            Rooms Management
                        </div>
                    </li>

                    <li>
                        <a class="nav-link px-4 sidebar-link" data-bs-toggle="collapse" href="#boardRoomsDropDown" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <span class="me-2"><i class="bi bi-border-style"></i></span>Board Rooms</span>
                            <span class="right-icon ms-auto"><i class="bi bi-chevron-down"></i></span>
                        </a>

                        <div class="collapse" id="boardRoomsDropDown">
                            <div>
                                <ul class="navbar-nav ps-4">
                                    <li>
                                        <a href="#" th:href="@{/admin/rooms}" class="nav-link px-4">
                                            <span class="me-2"><i class="bi bi-border-width"></i></span>View Rooms</span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" th:href="@{/admin/create_room}" class="nav-link px-4">
                                            <span class="me-2"><i class="bi bi-calendar2-plus"></i></span>Create Room
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>

                    </li>

                </ul>
            </nav>
        </div>
    </div>
<!--Offcanvas-->

<!-- Footer -->
<footer class="page-footer font-small elegant-color fw-bold fixed-bottom py-3" th:fragment="footer">

    <!-- Copyright -->
    <div class="footer-copyright text-center">© 2021 Copyright</div>
    <!-- Copyright -->

</footer>
<!-- Footer -->


<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>