<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <!--    CDN Path-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!--Styling-->
    <link th:href="@{/css/admin_dashboard.css}" th:rel="stylesheet">
    <link th:href="@{/css/main.css}" th:rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/main.css">
    <link rel="stylesheet" href="../../static/css/admin_dashboard.css">

    <script src="../../static/js/extern/jquery-3.6.0.js"></script>
    <script th:src="@{/js/extern/jquery-3.6.0.js}"></script>

    <!--SelectizeJS-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>-->
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />-->
<!--    -->

<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.9/js/select2.min.js"></script>-->
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.9/css/select2.min.css">-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <!--  Bootstrap icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

</head>
<body>

<div th:replace="admin/admin_dashboard::navbar"></div>
<div th:replace="admin/admin_dashboard::sidebar"></div>

<main class="mt-5 pt-3">

    <div class="content container-fluid">
        <div class="row mb-3">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#" th:href="@{/admin/dashboard}">Home</a></li>
                        <li class="breadcrumb-item"><a href="#" th:href="@{/admin/users}">Users</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Create User</li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">
            <form   th:action="@{/admin/add_user_role}"
                    th:object="${addUserRole}"
                    method="post">

                <div class="card">
                    <div class="card-body">
                        <h3 th:unless="${#lists.isEmpty(registeredUsersList)}" class="fw-bold mb-4">Create User</h3>
                        <div th:unless="${#lists.isEmpty(registeredUsersList)}" class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label>User</label>
                                    <select class="user form-select" th:field="*{userId}" style="height: 30px;">
                                        <option name="userId" th:each="user : ${registeredUsersList}" th:value="${user.userId}" th:text="${user.employeeFirstName} + ' ' + ${user.employeeLastName} + ' : ' + ${user.employeeDepartment}" />
                                    </select>
                                </div>
                            </div>

                            <div class="col">
                                <div class="form-group">
                                    <label>Role</label>
                                    <select id="role" style="width: 100%" class="form-select form-select-sm" th:field="*{userRole}">
                                        <option disabled th:value="'NONE'">Select role...</option>
                                        <option name="userRole" th:value="'Admin'">Admin</option>
                                        <option name="userRole" th:value="'Organization Officer'">Organization Officer</option>
                                        <option name="userRole" th:value="'User'">User</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="ml-auto mr-auto mt-5">
                                    <button type="submit" class="btn btn-primary">Create User</button>
                                </div>
                            </div>

                        </div>
                        <div th:if="${#lists.isEmpty(registeredUsersList)}" class="row my-1 py-4">
                            <h1 class="fw-bold">No users to be registered.</h1>
                            <p class="text-muted">Come back at a later time.</p>
                        </div>
                    </div>
                </div>

            </form>
        </div>

    </div>

</main>

<footer th:replace="admin/admin_dashboard::footer"></footer>

<script>
    $(document).ready(function() {
        $('.user, .js-example-basic-single').select2({
            width: 'resolve',
            placeholder: "Select a user",
        });
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>-->
</body>
</html>