<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schedule Meeting</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <!--    CDN Path-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!--  Bootstrap icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../../static/css/admin_dashboard.css">
    <link rel="stylesheet" href="../../static/css/main.css">
    <link th:href="@{/css/admin_dashboard.css}" rel="stylesheet"/>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>

    <!--jQuery-->
    <script src="../../static/js/extern/jquery-3.6.0.js"></script>
    <script th:src="@{/js/extern/jquery-3.6.0.js}"></script>
    <!--jQuery Validator-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>

    <!--Select2-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>

<div th:replace="admin/admin_dashboard::navbar"></div>
<div th:replace="admin/admin_dashboard::sidebar"></div>

<main class="mt-5 pt-3">
    <div class="content container-fluid">

        <div class="row mb-3">
            <div class="col">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#" th:href="@{/admin/dashboard}">Home</a></li>
                        <li class="breadcrumb-item"><a href="#" th:href="@{/admin/meetings}">Meetings</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Schedule Meeting</li>
                    </ol>
                </nav>
            </div>
        </div>

        <form id="meeting-form"
              th:action="@{/admin/create_meeting}"
              th:object="${meeting}"
                method="post">
            <!--Map meeting with user-->
            <select hidden class="form-select" id="owner" th:field="*{ownerId}">
                <option th:value="${loggedUser.userId}"/>
            </select>

            <!--Map meeting with organization-->
            <select hidden class="form-select" id="organization" th:field="*{organization}">
                <option th:value="${loggedUser.organization.organizationId}"/>
            </select>


            <div class="card">
                <div class="card-header border-0 bg-secondary"></div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-12">
                            <!-- Page header -->
                            <div class="pb-4 mb-4">
                                <div class="mb-2 mb-lg-0">
                                    <h3 class="mb-0 fw-bold">Schedule Meeting</h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row pb-4">
                        <div class="col-6">
                            <div class="form-group mb-3">
                                <label for="name" class="text-muted">Meeting Topic</label>
                                <input type="text" class="form-control" id="name" name="meetingname" minlength="3" required th:field="*{meetingName}">
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="form-group">
                                <label for="meetingdesc">Meeting Description (optional)</label>
                                <textarea class="form-control" id="meetingdesc" th:field="*{meetingDescription}"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row pb-3">

                        <div class="col-6">

                            <div class="col-lg-12 col-md-12">
                                <div class="py-3">
                                    <div class="mb-lg-0">
                                        <h5 class="mb-0 fw-bold">Attendees</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <label for="customCapacity">Number of Attendees</label>
                                    <input type="number" class="form-control" id="customCapacity" name="customCapacity" required th:field="*{capacity}">
                                </div>
                            </div>
                        </div>

                        <div class="col-6">

                            <div class="col-lg-12 col-md-12">
                                <div class="py-3">
                                    <div class="mb-lg-0">
                                        <h5 class="mb-0 fw-bold">Location</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 col-lg-12 col-12">
                                <label for="room">Boardroom:</label>
                                <select class="form-select" id="room" th:field="*{room}" required>
                                    <option disabled th:value="'NONE'">Choose room...</option>
                                    <option th:each="room: ${roomsList}" th:value="${room.roomId}" th:text="${room.roomName}" />
                                </select>


                            </div>
                        </div>

                    </div>

                    <div class="row pb-3">

                        <div class="col-6">
                            <div class="col-lg-12 col-md-12">
                                <div class="py-3">
                                    <div class="mb-lg-0">
                                        <h5 class="mb-0 fw-bold">Date & Time</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <label for="date_picker" class="text-muted">Date</label>
                                    <input id="date_picker" type="date" class="form-control" required th:field="*{meetingDate}">
                                </div>
                            </div>

                            <div class="row pt-3">
                                <div class="col-6">
                                    <div class="form-group mb-3">
                                        <label for="starttime" class="text-muted">Start Time</label>
                                        <input type="time" class="form-control" id="starttime" name="starttime" min="06:00" max="20:00" required th:field="*{startTime}">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group mb-3">
                                        <label for="endtime" class="text-muted">End Time</label>
                                        <input type="time" class="form-control" id="endtime" name="endtime" min="06:00" max="20:00" required th:field="*{endTime}">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="col-lg-12 col-md-12">
                                <div class="py-4">
                                    <div class="mb-lg-0">
                                        <h5 class="mb-0 fw-bold">Add Co-Owners</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 col-lg-12" id="co-owners">
                                <div class="form-group">
                                    <label>User(s)</label>
                                    <select class="user form-select" name="users" multiple="multiple" th:field="*{users}">
                                        <option name="userId" th:each="eligibleUser : ${coOwnersEligible}" th:value="${eligibleUser.userId}" th:text="${eligibleUser.employeeFirstName} + ' ' + ${eligibleUser.employeeLastName} + ' : ' + ${eligibleUser.employeeDepartment}" />
                                    </select>
                                </div>
                            </div>


                        </div>


                    </div>

                    <div class="row">

                        <div>
                            <button type="submit" class="btn btn-primary float-end">Create Schedule</button>
                        </div>


                    </div>
                </div>
            </div>

        </form>

    </div>
</main>

<footer th:replace="admin/admin_dashboard::footer"></footer>

<script>
    $(document).ready(function () {
        $('.user').select2({
            placeholder: "Select users",
        });
    });
</script>

<script>
    var date = new Date();
    date.setDate(date.getDate() + 1);
    var tomorrow = date.toISOString().slice(0,10);
    //To restrict past date

    $('#date_picker').attr('min', tomorrow);

</script>

<script>
    $(document).ready(function() {
        $("#meeting-form").validate({
            rules: {
                "meetingName" : {
                  required: true,
                },
                "capacity": {
                    required: true,
                    max: 100,
                    min: 1,
                },
            },

            messages : {
                starttime : {
                    min: "Meetings should be scheduled past 0600hrs",
                    max: "Meetings cannot extend past 2000hrs"
                },

                endtime : {
                    min: "Meetings should be scheduled past 0600hrs",
                    max: "Meetings cannot extend past 2000hrs"
                }
            },
        });
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>