<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <!--    CDN Path-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!--Styling-->
    <link th:href="@{/css/admin_dashboard.css}" th:rel="stylesheet">
    <link th:href="@{/css/main.css}" th:rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/main.css">
    <link rel="stylesheet" href="../../static/css/admin_dashboard.css">

    <!--Data Tables Offline-->
    <link href="../../static/css/extern/dataTables.bootstrap5.min.css" th:href="@{/css/extern/dataTables.bootstrap5.min.css}" rel="stylesheet">

    <!--  Bootstrap icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">


</head>
<body>

<div th:replace="admin/admin_dashboard::navbar"></div>
<div th:replace="admin/admin_dashboard::sidebar"></div>

<main class="mt-5 pt-4">

    <div class="content container-fluid">
        <div class="row mb-2 mt-3">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#" th:href="@{/admin/dashboard}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Users</li>
                    </ol>
                </nav>
            </div>
            <div class="col">
                <a type="button" class="create-user-btn btn btn-sm btn-primary" th:href="@{/admin/create_user}"><i class="bi bi-person-plus"></i> Create User</a>
            </div>
        </div>

        <div class="row">
                <div class="col-md-12">
                    <div class="card users border-0">
                        <div class="card-header border-0">
                            <h2 class="fw-bold text-center">Users</h2>
                        </div>

                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover table-borderless" id="users_list">
                                    <thead>
                                    <tr>
                                        <th scope="col">User ID</th>
                                        <th scope="col">First Name</th>
                                        <th scope="col">Last Name</th>
                                        <th scope="col">Phone Number</th>
                                        <th scope="col">Email Address</th>
                                        <th scope="col">Department</th>
                                        <th scope="col">Role</th>
                                        <th scope="col" class="text-center">Actions</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr th:each="userTableDetails: ${userDetails}">

                                        <td th:text="${userTableDetails.userId}"/>
                                        <td th:text="${userTableDetails.employeeFirstName}"/>
                                        <td th:text="${userTableDetails.employeeLastName}"/>
                                        <td th:text="${userTableDetails.employeePhoneNumber}"/>
                                        <td th:text="${userTableDetails.employeeEmailAddress}"/>
                                        <td th:text="${userTableDetails.employeeDepartment}"/>
                                        <td th:text="${userTableDetails.userRole}"/>

                                        <td class="d-flex justify-content-center">

                                            <a th:if="${userTableDetails.userId} != ${loggedUser.userId}" href="" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="text-muted"><i class="me-2 bi bi-pen"></i></a>

                                            <!--Edit Modal-->
                                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            ...
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                            <button type="button" class="btn btn-primary">Save changes</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <a th:if="${userTableDetails.userId} != ${loggedUser.userId}" href="" class="text-muted" data-toggle="modal" data-target="#modal-warning" th:attr="data-target='#modal-warning'+${userTableDetails.userId}"><i class="me-2 bi bi-trash"></i></a>

                                            <!--Delete Modal-->
                                            <div class="modal fade" th:attr="id='modal-warning'+${userTableDetails.userId}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <div class="modal-header border-0">
                                                            <h5 class="modal-title">Confirm Delete</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>Are you sure you want to delete <span th:text="${userTableDetails.employeeFirstName}"/> <span th:text="${userTableDetails.employeeLastName}"/>?</p>
                                                        </div>
                                                        <div class="modal-footer border-0">
                                                            <a type="button" class="btn btn-danger btn-sm text-white" th:attr="href='/admin/delete_user_role/'+${userTableDetails.userId}">Yes</a>
                                                            <a class="btn btn-primary btn-sm text-white" data-dismiss="modal">No</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <a href="#" th:href="@{/admin/edit_profile}"><b class="text-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top" th:if="${userTableDetails.userId} == ${loggedUser.userId}">CU</b></a>

                                        </td>

                                    </tr>

                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>

</main>

<footer th:replace="admin/admin_dashboard::footer"></footer>

<!--Offline Scripts-->
<script src="../../static/js/extern/jquery-3.6.0.js"></script>
<script src="../../static/js/extern/jquery.dataTables.min.js"></script>
<script src="../../static/js/extern/dataTables.bootstrap5.min.js"></script>
<script src="../../static/js/script.js"></script>
<!--Thymeleaf-->
<script th:src="@{/js/extern/jquery-3.6.0.js}"></script>
<script th:src="@{/js/extern/jquery.dataTables.min.js}"></script>
<script th:src="@{/js/extern/dataTables.bootstrap5.min.js}"></script>
<script th:src="@{/js/script.js}"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
