<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Meetings</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <!--    CDN Path-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!--Styling-->
    <link th:href="@{/css/admin_dashboard.css}" th:rel="stylesheet">
    <link th:href="@{/css/main.css}" th:rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/admin_dashboard.css">
    <link rel="stylesheet" href="../../static/css/main.css">

    <!--  Bootstrap icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<body>

<div th:replace="admin/admin_dashboard::navbar"></div>
<div th:replace="admin/admin_dashboard::sidebar"></div>

<main class="mt-5 pt-3">
    <div class="content container-fluid">

        <div class="row mb-3">
            <div class="col">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#" th:href="@{/admin/dashboard}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Meetings</li>
                    </ol>
                </nav>
            </div>

            <div class="col">
                <a type="button" class="create-user-btn btn-sm btn btn-primary" th:href="@{/admin/create_meeting}"><i class="bi bi-calendar-plus me-2"></i>New Meeting</a>
            </div>

        </div>

        <h3 class="col-md-3 fw-bold fs-30 mb-4">Meeting Schedules</h3>

        <div class="row">
            <div class="col-md-6">
                <div class="card border-0">
                    <div class="card-body">
                        <div class="d-flex justify-content-between mx-3">
                            <h5 class="text-muted fw-bold pb-3">Upcoming Meetings</h5>
                            <a href="" th:href="@{/admin/upcoming_meetings}">View All<i class="bi bi-chevron-compact-right"></i></a>
                        </div>

                        <div class="text-start mx-3" th:each="futureMeeting,noLimit : ${upcomingMeetings}" th:unless="${noLimit.index>5}">
                            <div class="border-top border-1 mt-2 mb-4" th:if="${noLimit.index > 0}"></div>
                            <a href="#" class="text-black" th:href="@{'/admin/meeting' + ${futureMeeting.meetingId}}">
                                <div class="row">
                                    <div class="col-12">
                                        <h6 th:text="${futureMeeting.meetingName}" class="fw-bold"/>
                                    </div>
                                    <div class="col-12">
                                        <p th:text="${#temporals.format(futureMeeting.meetingDate, 'EEEE, MMMM dd, yyyy')}"/>
                                    </div>
                                    <div class="col-6">
                                        <label>From <b th:text="${#temporals.format(futureMeeting.startTime, 'HH:mm a')}"/> - <b th:text="${#temporals.format(futureMeeting.endTime, 'HH:mm a')}"/></label>
                                    </div>
                                    <div class="col-6">
                                        <p>Venue: <b th:text="${futureMeeting.room.roomName}"/></p>
                                    </div>
                                </div>
                            </a>

                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card past-meetings border-0">
                    <div class="card-body">
                        <div class="d-flex justify-content-between mx-3">
                            <h5 class="fw-bold pb-3">Past Meetings</h5>
                            <a href="" th:href="@{/admin/past_meetings}">View All<i class="bi bi-chevron-compact-right"></i></a>
                        </div>
                        <div class="text-start mx-3" th:each="pastMeeting,noLimit : ${pastMeetings}" th:unless="${noLimit.index>5}">
                            <div class="border-top border-1 mt-2 mb-4" th:if="${noLimit.index > 0}"></div>
                            <a href="#" th:href="@{'/admin/meeting' + ${pastMeeting.meetingId}}">
                                <div class="row">
                                    <div class="col-12">
                                        <h6 th:text="${pastMeeting.meetingName}" class="fw-bold text-muted"/>
                                    </div>
                                    <div class="col-12">
                                        <p th:text="${#temporals.format(pastMeeting.meetingDate, 'EEEE, MMMM dd, yyyy')}" class="text-muted"/>
                                    </div>
                                    <div class="col-6">
                                        <label>From <b th:text="${#temporals.format(pastMeeting.startTime, 'HH:mm a')}"/> - <b th:text="${#temporals.format(pastMeeting.endTime, 'HH:mm a')}"/></label>
                                    </div>
                                    <div class="col-6">
                                        <p class="text-muted">Venue: <b th:text="${pastMeeting.room.roomName}"/></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>

<footer th:replace="admin/admin_dashboard::footer"></footer>

<!--Offline Scripts-->
<script src="../../static/js/extern/jquery-3.6.0.js"></script>

<!--Thymeleaf-->
<script th:src="@{/js/extern/jquery-3.6.0.js}"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
