body{
    background-color: #f1f1f1;
}
td{
    color: #9A9A9A;
}
.content{
    padding: 1rem 2rem;
}

.divider{
    margin: 30px 0;
}
label{
    font-size: 0.8571em;
    margin-bottom: 5px;
    color: #9A9A9A;
}
.card{
    border: none;
    box-shadow: 0 5px 10px 0 rgba(124, 124, 124, 0.2);
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.create-user-btn{
    border-radius: 20px;
    float: right;
}
.password-requirements{
    font-size: 0.8571em;
    margin-bottom: 5px;
    color: #9A9A9A;
}