@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Ubuntu:wght@400;500;700&display=swap');


body, button{
    font-family: 'Inter', sans-serif;
    background-color: #f1f1f1;
}
td{
    color: #808080;
}
.content{
    padding: 2rem;
}

.divider{
    margin: 30px 0;
}
label{
    font-size: 0.8571em;
    margin-bottom: 5px;
    color: #9A9A9A;
}


label.error {
    color: red;
    display: block;
    margin-top: 5px;
}

input.error, textarea.error {
    border: 1px dashed red;
    font-weight: 300;
    color: red;
}


.card{
    border: none;
    box-shadow: 0 5px 10px 0 rgba(124, 124, 124, 0.2);
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.create-user-btn{
    border-radius: 5px;
    float: right;
}
.password-requirements{
    font-size: 0.8571em;
    margin-bottom: 5px;
    color: #9A9A9A;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    font-size: 8px;
    text-align: center;
}

.co-owners{
    font-size: 0.8571em;
    color: #3d3d3d;
}

.past-meetings{
    background-color: #e7e7e7;
}