<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>

    <!--    CDN Path-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!--  Bootstrap icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>-->
    <link th:href="@{/css/admin_dashboard.css}" rel="stylesheet"/>

</head>
<body>

<div th:replace="admin_dashboard::navbar"></div>
<div th:replace="admin_dashboard::sidebar"></div>

<main class="mt-5 pt-3">
    <div class="container-fluid">

        <div class="row">
            <h3 class="col-md-3 fw-bold fs-30">Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b></h3>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="row shortcuts">

                    <a href="" class="card fw-bold bg-success mb-3 text-white p-2 col-2" style="text-decoration: none;">
                        <span>Meetings<i class="bi bi-chevron-right fw-bold"></i></span>
                    </a>

                    <a href="" class="card fw-bold bg-secondary mb-3 text-white p-2 col-2" style="text-decoration: none;">
                        <span>Users<i class="bi bi-chevron-right fw-bold"></i></span>
                    </a>

                    <a href="" class="card fw-bold bg-danger mb-3 text-white p-2 col-3" style="text-decoration: none;">
                        <span>Board Rooms<i class="bi bi-chevron-right fw-bold"></i></span>
                    </a>

                </div>

            </div>
            <div class="col-6">

                Calendar
                <!--            <iframe src="https://calendar.google.com/calendar/embed?height=400&wkst=1&bgcolor=%23ffffff&ctz=Africa%2FNairobi&showPrint=1&title=Meeting%20Schedules&src=a2Vsdmlua2ltOTk2QGdtYWlsLmNvbQ&color=%23039BE5" style="border-width:0" width="400" height="400" frameborder="0" scrolling="no"></iframe>        </div>-->

            </div>
        </div>
    </div>
</main>

<footer th:replace="admin_dashboard::footer"></footer>


<!---->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<!---->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
</body>
</html>