<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Edit Profile</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <!--    CDN Path-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!--  Bootstrap icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>-->
    <link th:href="@{/css/admin_dashboard.css}" rel="stylesheet"/>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/css/admin_dashboard.css">
    <link rel="stylesheet" href="../static/css/main.css">

</head>
<body>

<div th:replace="admin_dashboard::navbar"></div>
<div th:replace="admin_dashboard::sidebar"></div>

<main class="userprofile mt-5 pt-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <!-- Page header -->
                <div>
                    <div class="border-bottom pb-4 mb-4">
                        <div class="mb-2 mb-lg-0">
                            <h3 class="mb-0 fw-bold">Profile Settings</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-xl-3 col-lg-4 col-md-12 col-12">
                <div class="mb-4 mb-lg-0">
                    <h5 class="mb-1">General User Setting</h5>
                    <p class="mb-0 fs-6 text-muted">Profile</p>
                </div>

            </div>

            <div class="col-xl-9 col-lg-8 col-md-12 col-12">
                <!-- card -->
                <div class="card">
                    <!-- card body -->
                    <div class="card-body">
                        <div class=" mb-6">
                            <h5 class="mb-1">Edit Profile</h5>
                        </div>

                        <div>
                            <form th:action="@{/admin/edit_profile/update}"
                                  method="post"
                                  class="edit">

                                <div class="row mb-4">

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Organization (disabled)</label>
                                            <input type="text" class="form-control" disabled placeholder="Organization" value="Tracom Services Limited">
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>First Name</label>
                                            <input type="text" class="form-control" placeholder="First Name" th:value="${editUser.employeeFirstName}">
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Last Name</label>
                                            <input type="text" class="form-control" placeholder="Last Name" th:value="${editUser.employeeLastName}">
                                        </div>
                                    </div>

                                </div>

                                <div class="row mb-4">

                                    <div class="col-md-4 pr-1">
                                        <div class="form-group">
                                            <label>Phone Number</label>
                                            <input type="text" class="form-control" placeholder="+254..." th:value="${editUser.employeePhoneNumber}">
                                        </div>
                                    </div>

                                    <div class="col-md-4 pl-1">
                                        <div class="form-group">
                                            <label>Email address</label>
                                            <input type="email" class="form-control" placeholder="Email" th:value="${editUser.employeeEmailAddress}">
                                        </div>
                                    </div>

                                    <div class="col-md-4 pl-1">
                                        <div class="form-group">
                                            <label>Department</label>
                                            <input type="text" class="form-control" placeholder="Dept" th:value="${editUser.employeeDepartment}">
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-4">
                                    <div class="col-md-4 pr-1">
                                        <div class="form-group">
                                            <label>Role</label>
                                            <input type="text" class="form-control" placeholder="Role" disabled th:value="${editUser.userRole}">
                                        </div>
                                    </div>

                                    <!--                            <div class="col-md-4 pr-1">-->
                                    <!--                                <div class="form-group">-->
                                    <!--                                    <p>Gender</p>-->
                                    <!--                                    <input type="radio" id="male" name="fav_language" value="MALE">-->
                                    <!--                                    <label for="male">Male</label><br>-->
                                    <!--                                    <input type="radio" id="female" name="fav_language" value="FEMALE">-->
                                    <!--                                    <label for="female">Female</label><br>-->
                                    <!--                                </div>-->
                                    <!--                            </div>-->
                                </div>

                                <div class="row text-center">
                                    <a href="" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#changePasswordModal">Change Password?</a>
                                </div>

                                <div class="row text-center">
                                    <div class="update ml-auto mr-auto">
                                        <button type="submit" class="btn btn-primary btn-round text-uppercase">Update Profile</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row mb-5">
            <div class="col-xl-3 col-lg-4 col-md-12 col-12">
                <div class="mb-4 mb-lg-0">
                    <h5 class="mb-1">Password Setting</h5>
                    <p class="mb-0 fs-6 text-muted">Change Password</p>
                </div>

            </div>

            <div class="col-xl-9 col-lg-8 col-md-12 col-12">
                <!-- card -->
                <div class="card" id="edit">
                    <!-- card body -->
                    <div class="card-body">
                        <div class="mb-6 mt-6">
                            <h5 class="mb-1">Change your password</h5>

                        </div>
                        <form>
                            <div class="form-group mt-3">
                                <label>Old Password</label>
                                <input type="password" class="form-control" placeholder="Old Password">
                            </div>

                            <div class="form-group mt-3">
                                <label>New Password</label>
                                <input type="password" class="form-control" placeholder="New Password">
                            </div>

                            <div class="form-group mt-3">
                                <label>Confirm Password</label>
                                <input type="password" class="form-control" placeholder="Confirm Password">
                            </div>

                            <div class="col-md-8 col-12 mt-4">
                                <h6 class="mb-1">Password requirements:</h6>
                                <p>Ensure that these requirements are met:</p>
                                <ul>
                                    <li> Minimum 8 characters long the more, the better</li>
                                    <li>At least one lowercase character</li>
                                    <li>At least one uppercase character</li>
                                    <li>At least one number, symbol, or whitespace character
                                    </li>
                                </ul>
                            </div>

                            <button type="submit" class="btn btn-primary">Change Password</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-xl-3 col-lg-4 col-md-12 col-12">
                <div class="mb-4 mb-lg-0">
                    <h4 class="mb-1">Delete Account</h4>
                    <p class="mb-0 fs-5 text-muted">Account Deletion</p>
                </div>

            </div>

            <div class="col-xl-9 col-lg-8 col-md-12 col-12">
                <!-- card -->

                <div class="card mb-6">
                    <!-- card body -->
                    <div class="card-body">
                        <div class="mb-6">
                            <h4 class="mb-1">Danger Zone </h4>

                        </div>
                        <div>
                            <!-- text -->
                            <p>Delete any and all content you have, such as meetings, schedules and any other interactions.</p>
                            <a href="#" class="btn btn-danger">Delete Account</a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</main>


<!-- Modal -->
<div class="change-password modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title fw-bold lead" id="exampleModalLabel">Change Password</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3 row">
                    <label for="userEmail" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" id="userEmail" value="john.doe@gmail.com">
                    </div>
                </div>

                <div class="row">

                    <div class="form-group">
                        <label>Old Password</label>
                        <input type="password" class="form-control" placeholder="Old Password">
                    </div>

                    <div class="form-group">
                        <label>New Password</label>
                        <input type="password" class="form-control" placeholder="New Password">
                    </div>


                </div>

            </div>
            <div class="modal-footer border-0">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger">Change</button>
            </div>
        </div>
    </div>
</div>


<footer th:replace="admin_dashboard::footer"></footer>

<!---->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>