<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!--  Bootstrap icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <link th:href="@{/css/userlogin.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/css/userlogin.css">
</head>
<body>

<div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center g-0 min-vh-100">
        <div class="col-12 col-md-8 col-lg-6 col-xxl-4 py-8 py-xl-0">
            <!-- Card -->
            <div class="card border-0 smooth-shadow-md">
                <!-- Card body -->
                <div class="card-body p-4 m-2">
                    <div class="mb-4">
                        <h3 class="fw-bold">Forgot Password</h3>
                    </div>
                    <!-- Form -->
                    <form>
                        <p>Please provide the email you used when registering.<br>We will send a link to reset your password.</p>
                        <div class="form-floating mb-4">
                            <input type="email" class="form-control" id="floatingResetInput" name="username" required placeholder="Email Address">
                            <label for="floatingResetInput" class="text-muted">Email Address</label>
                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>


                        <div class="d-md-flex justify-content-between mt-4">
                            <div class="mb-2 mt-2 mb-md-0">
                                <a href="#" th:href="@{/login}" class="text-decoration-none fw-bold"><i class="bi bi-chevron-compact-left me-1"></i>Login</a>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-primary text-uppercase">Reset</button>
                            </div>

                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
</body>
</html>