<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
</head>
<body>
<div class="container text-center">
    <h3>List of All Users</h3>
    <div>
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">User ID</th>
                    <th scope="col">Names</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Email Address</th>
                    <th scope="col">Department</th>
                    <th scope="col">Role</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="userTableDetails: ${userDetails}">
                    <td th:text="${userTableDetails.userId}"/>
                    <td th:text="${userTableDetails.employeeName}"/>
                    <td th:text="${userTableDetails.employeeDepartment}"/>
                    <td th:text="${userTableDetails.employeePhoneNumber}"/>
                    <td th:text="${userTableDetails.employeeEmailAddress}"/>
                    <td th:text="${userTableDetails.userRole}"/>

                    <td>
                        <a class="btn btn-danger" th:href="@{'/delete_user/' + ${userTableDetails.userId}}" onclick="return confirm('Are you sure you want to delete the user?')">Delete</a></td>
                </tr>
            </tbody>
        </table>

    </div>

</div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
</body>
</html>