<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link th:href="@{/css/userlogin.css}" href="../static/css/userlogin.css" rel="stylesheet"/>
</head>
<body>

<div class="card border-light container login">

        <main>

            <h1>Sign In</h1>

            <form th:action="@{/login}" method="post">

                <div th:if="${param.error}">
                    <div class="alert alert-danger">
                        Invalid username or password.
                    </div>
                </div>

                <div class="form-floating">
                    <input type="email" class="form-control border-light" id="floatingAdminInput" name="username" required placeholder="Email Address">
                    <label for="floatingAdminInput">Email Address</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control border-light" name="password" id="floatingAdminPassword" required placeholder="Password">
                    <label for="floatingAdminPassword">Password</label>
                </div>
                <div class="inputs">
                    <div class="mb-2">
                        <a href="" data-bs-toggle="modal" data-bs-target="#forgotPasswordModal">Forgot Password?</a>
                    </div>
                    <div>
                        <button class="btn btn-primary" type="submit">Login</button>
                    </div>
                </div>

            </form>

        </main>

    </div>

<!-- Modal -->
<div class="modal fade" id="forgotPasswordModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header border-0">
                    <h5 class="modal-title text-center" id="exampleModalLabel">Forgot Password</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <p>Please provide the email you used when registering. We will send a link to reset your password.</p>
                        <div class="form-floating mb-4">
                            <input type="email" class="form-control" id="floatingResetInput" name="username" required placeholder="Email Address">
                            <label for="floatingResetInput">Email Address</label>
                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>

                        <button type="submit" class="btn btn-primary text-uppercase">Reset</button>

                    </form>
                </div>
            </div>
        </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
</body>
</html>